
/* Style header */
.md-header {
    background-color: aquamarine; 
}

.md-nav {
    background-color: aquamarine; 
}

.md-header__title {
    color: black;
    font-weight: bold;
}

.md-header-nav__title, .md-nav__link {
    color: black;
}


    
