

.md-typeset a:any-link {
    font-weight: bold;
    color: black;
    background-color: none;
    text-decoration: none;
}

.md-typeset a:hover {
    color: turquoise;
    
}

.md-theme--dark a:any-link {
    font-weight: bold;
    color: white; 
    background-color: none;
    text-decoration: none;
}

.md-theme--dark a:hover {
    color: #ffaa00;
}





